Source: ros-humble-urdf-launch
Section: misc
Priority: optional
Maintainer: David V. Lu!! <david@metrorobots.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-rviz-common, ros-humble-rviz-default-plugins, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-urdf-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-joint-state-publisher, ros-humble-joint-state-publisher-gui, ros-humble-launch-ros, ros-humble-robot-state-publisher, ros-humble-rviz-common, ros-humble-rviz-default-plugins, ros-humble-rviz2, ros-humble-xacro, ros-humble-ros-workspace
Description: Launch files for common URDF operations
